name: Deploy MyST

on:
  push:
    branches: [main]

env:
  BASE_URL: /${{ github.event.repository.name }}

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/configure-pages@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18.x
      - run: npm install -g mystmd
      - run: myst build --html
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./_build/html
      - uses: actions/deploy-pages@v4
        id: deployment
